In [25]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import GridSearchCV, train_test_split, cross_val_score
from sklearn.metrics import recall_score, precision_score, f1_score
from sklearn.linear_model import LinearRegression 
import tensorflow.keras as keras
from keras.utils import to_categorical

In [6]:
train_data = pd.read_csv("./datasets/train.csv")
test_data = pd.read_csv("./datasets/test.csv")

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [9]:
train_data.sample(5)

        id  ... target
1156  1665  ...      1
568    820  ...      0
1552  2241  ...      0
3499  5000  ...      0
4525  6430  ...      0

[5 rows x 5 columns]

In [10]:
train_data["keyword"].nunique()

221

In [17]:
train_data[train_data["target"] == 1].sample()["text"].values[0]

'We The Free Hailstorm Maxi http://t.co/ERWs6IELdG'

In [18]:
train_data[train_data["target"] == 0].sample()["text"].values[0]

'Who the fuck plays music extremely loud at 9am on a Tuesday morning?? Bruv do they want me to come bang them??'

In [26]:
def preprocessing(docs: pd.Series) -> pd.Series:
    texts = docs.copy()

    texts.apply(lambda x: re.split(r"(\s)(?=\w+:)", x)[0])

    return texts

In [28]:
train_data["text"] = preprocessing(train_data["text"])
train_data["text"]

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
                              ...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [ ]:
vectorizer = TfidfVectorizer()
train_vectors = vectorizer.fit_transform(train_data["text"]).toarray()

In [23]:
train_vectors.shape

(7613, 21637)

In [ ]:
model = LinearRegression()